body {
  font: 16px "Helvetica", sans-serif;
}

.board {
  float: left;
  width:  400px;
  height: 400px;
  border: 1px solid black;
  margin: 15px;
  background-color: #444;
}

.tile {
  background-color: #eee;
  float: left;
  width:  18px;
  height: 18px;
  border: 1px solid black;
  text-align: center;
  padding: 40px;
  transition-property: right,left,top,bottom,background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  position: relative;
}

.open {
  background-color: #444;
  color: #444;
}

.active:hover {
  background-color: #ccc;
}

.side {
  padding: 15px;
}

.hidden {
  display: none;
}

button {
  margin-bottom: 20px;
}
